* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .port {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(240, 203, 209);
  }
  
  nav {
    background-color: rgb(37, 36, 36);
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 20px 0;
  }
  .navbar,
  a {
    text-decoration: none;
    list-style-type: none;
    color: rgb(86, 19, 243);
    padding: 0 2rem;
    color: white;
  }
  .intro {
    height: 560px;
    display: flex;
    padding: 30px;
  }
  .intro1 {
    color: white;
    margin: 20px 30px;
    font-size: 30px;
    font-weight: bold;
    line-height: 70px;
  }
  
  span {
    color: purple;
  }
  
  img {
    width: 400px;
    clip-path: circle();
    margin-top: 40px;
  }
  
  .aboutme {
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    color: rgb(31, 31, 180);
  }
  #about {
    color: purple;
    font-size: 45px;
    margin: 30px auto;
    text-align: center;
  }
  
  h3 {
    color: purple;
  }
  
  .s-tittle {
    color: purple;
    font-size: 45px;
    margin: 30px auto;
    text-align: center;
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
  }
  
  .card {
    height: 150px;
    width: 160px;
    padding: 20px 35px;
    background: gray;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    text-align: center;
  }
  
  h5 {
    color: white;
    font-size: 15px;
    margin-bottom: 12px;
  }
  .pra p {
    color: rgb(31, 31, 180);
    line-height: 20px;
    margin-bottom: 20px;
  }
  .card .buton {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 25px;
  }
  
  .box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
  }
  
  .card-1 {
    height: 160px;
    width: 180px;
    padding: 20px 35px;
    background: gray;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    text-align: center;
  }
  .pra1 ul li {
    line-height: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    list-style-type: none;
  }
  .cont {
    background-color: rgb(240, 203, 209);
  }
  .register {
    width: 400px;
    height: 500px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
  }
  
  .h4reg {
    text-align: center;
    margin: 20px;
    color: purple;
    padding-top: 30px;
  }
  form {
    width: 300px;
    margin-left: 20px;
    font-size: 18px;
  }
  form label {
    display: flex;
    margin-top: 10px;
    font-size: 18px;
  }
  form input {
    width: 300px;
    padding: 5px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  
  input[type="button"] {
    width: 300px;
    margin-top: 30px;
    border: none;
    background-color: rgba(38, 38, 230, 0.822);
    color: white;
    font-size: 15px;
    border-radius: 20px;
  }
  
  textarea {
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  h4{
     color: purple;
  }
  .btm{
     text-align: center;
     margin: 20px;
  }
  .foot {
     color: rgb(31, 31, 180);
     line-height: 20px;
     padding: 10px;
  }